body {
  height: 100%;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

button {
  cursor: pointer;
}

.edit {
  cursor: pointer;
  display: none;
  /*預設隱藏*/
  /* visibility: hidden; */
}

#product {
  flex: 7;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.infoContainer {
  margin: 5px;
  height: 100%;
  width: 400px;
}

.itemContainer {
  flex: 1;
  margin: 5px;
  box-sizing: border-box;
  /* width: 50%; */
  height: 100%;
}

#cartButton {
  display: none;
  /*預設隱藏*/
}

#messageBoard {
  width: 100%;
  flex: 3;
}

#header {
  overflow: hidden;
  font-size: 20px;
  /* font-family: 微軟正黑體, 標楷體, 新細明體; */
  flex: 1;
  /* height: 50px; */
  flex-grow: 0;
  width: 100%;
  top: 0;
  background-color: black;
  /* display: flex; */
}

#content {
  display: flex;
  flex-direction: column;
  flex: 8;
  flex-grow: 1;
  overflow: auto;
  background-color: gray;
}

#footer {
  flex: 1;
  width: 100%;
  /* height: 100px; */
  flex-grow: 0;
  background-color: black;
  color: white;
  text-align: center;
  float: inline-end;
}

.itemImage {
  width: 400px;
  height: 400px;
}

dialog {
  position: absolute;
  width: 700px;
  height: 450px;
  left: calc(50% - 700px);
  top: 120px;
  color: white;
  border: none;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 10px;
  background-color: rgba(64, 64, 64, 0.9);
  border: 1px solid rgb(0, 0, 0);
  text-align: justify;
}