body {
  height: 100%;
  padding: 0;
  margin: 0;
}

footer {
  flex: 1;
  width: 100%;
  flex-grow: 0;
  background-color: #333;
  color: white;
  text-align: center;
  float: inline-end;
}

input:valid {
  background-color: white;
}

input:invalid {
  background-color: lightpink;
}

button {
  cursor: pointer;
}

#checkPage {
  color: white;
  border: none;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 10px;
  background-color: rgba(120, 120, 120, 0.9);
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#editBlock {
  max-width: 500px;
  width: 100%;
  font-size: large;
}

#checkContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#comparePart {
  height: calc(100% - 30px);
}

#new,
#old {
  margin: 1%;
}

@media screen and (min-width:768px) {
  #checkPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    max-width: 80%;
    height: calc(100% - 200px);
  }

  #comparePart {
    flex-direction: row;
  }

  #new,
  #old {
    overflow: none auto;
    width: 48%;
    max-height: 100%;
  }
}

@media screen and (max-width: 767px) {
  #checkPage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: calc(100% - 100px);
    overflow-y: auto;
  }

  #comparePart {
    flex-direction: column;
    overflow-y: auto;
  }

  #new,
  #old {
    width: 96%;
  }
}