main {
    max-width: 500px;
}
.product-images {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
.product-images>div {
    display: flex;
    overflow-x: auto;
}
#productImg {
    width: -webkit-fill-available;
}
#detailDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-button {
    background-color: transparent;
    border: none;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-button.choose {
    border: 4px solid #337ab7;
    box-sizing: border-box;
    margin: 0;
}

.product-button>img {
    width: 50px;
    height: 50px;
}

.product-detail {
    padding: 20px;
}
.product-detail h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.product-detail p {
    font-size: 16px;
    line-height: 1.5;
}

.seller-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: 2px solid black;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid black;
}
.comment img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
}
.comment .content {
    flex: 1;
    padding: 5px;
}
.comment .content .score {
    font-size: 16px;
    margin-bottom: 10px;
}
.comment .content .text {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.product-row {
    position: sticky;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 4px solid black;
    cursor: pointer;
}
.product-row>img {
    width: 64px;
    height: 64px;
}
.product-row button {
    border: none;
    background-color: transparent;
}
.product-row button:hover {
    opacity: 0.8;
}
.product-row .name {
    font-size: 24px;
    font-weight: bold;
}
.product-row .price {
    font-size: 18px;
    color: #888;
}
.product-row .buttons {
    width: 64px;
    height: 64px;
    display: flex;
}
#detailSmallDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}