#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#productContainer h2 {
    text-align: center;
}
.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    border: 4px solid black;
    cursor: pointer;
}
.product-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .contents {
    width: calc(100% - 64px);
}
.product .name {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.product .price {
    font-size: 18px;
    color: #888;
}
.product .buttons {
    width: 64px;
    height: 64px;
    display: flex;
}
.product button {
    border: none;
    background-color: transparent;
}
.product button:hover {
    opacity: 0.8;
}
#productContainer.row {
    display: block;
}
#productContainer.row .product {
    width: auto;
    flex-direction: row;
    align-items: center;
}
#productContainer.row .product>img {
    max-width: 64px;
    max-height: 64px;
}
#productContainer.row .product-detail {
    width: calc(100% - 64px);
}

#controlContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
.sort-buttons button, .sort-buttons select {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}
.sort-buttons button:hover, .sort-buttons select:hover {
    background-color: #3e8e41;
}
#displayBtn, #displayBtn img {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .product {
        width: -webkit-fill-available;
    }
}