.product {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border: 4px solid black;
    cursor: pointer;
}
.product-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .name {
    font-size: 24px;
    font-weight: bold;
}
.product .price {
    font-size: 18px;
    color: #888;
}
.product button {
    width: 64px;
    height: 64px;
    border: none;
    background-color: transparent;
}
.product button:hover {
    background-color: #555;
}
.product.row {
    flex-direction: row;
    align-items: center;
}
.product.row img {
    max-width: 64px;
    max-height: 64px;
}
.product.sticky {
    position: sticky;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.sort-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
.sort-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}
.sort-buttons button:hover {
    background-color: #3e8e41;
}
#displayBtn, #displayBtn img {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
}